@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.header-bg {
  background: url("/bcd32a9e1d4534f415ffcab8897d8c8f.png") lightgray 0px 0px /
    100% 100% no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-bg {
  background: url("/c6472c41b4a12ea91fbfdf1b29d21a18.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
}
