@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #23a6f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #23a6f0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.header-bg {
  background: url("/bcd32a9e1d4534f415ffcab8897d8c8f.png") lightgray 0px 0px /
    100% 100% no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-bg {
  background: url("/c6472c41b4a12ea91fbfdf1b29d21a18.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 26px 8px 23px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  font-size: 12px;
  font-weight: 600;
}

select:focus {
  outline: none;
}

.custom-select:after {
  content: "\25BE"; /* Down arrow icon */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Style the dropdown options */
.custom-select select option {
  background-color: white;
  color: #333;
  font-size: 14px;
}

.custom-select select option:hover {
  background-color: #f0f0f0;
}

.search-btn {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background-color: var(--primary-color);
  width: 7%;
}

.rightSidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  color: #321c3b;
  box-shadow: 0px 10px 15px rgba(8, 7, 8, 0.1),
    0px 4px 6px rgba(45, 49, 66, 0.05);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
}
.footer {
  width: 100%;
  text-align: center;
}
.overlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.animate-left {
  animation: slideLeft 1s forwards;
}

.animate-right {
  animation: slideRight 1s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
